fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy[asyncio]==2.0.36
aiosqlite==0.20.0
aiofiles==24.1.0
python-multipart==0.0.17
jinja2==3.1.4
argon2-cffi==23.1.0
zipstream-ng==1.7.0
itsdangerous==2.2.0
ldap3==2.9.1
